#editor-section{
    width: 36vw;
    height: 90vh;
    overflow-y: auto;
}

#editor-container{
    position: relative;
    box-sizing: border-box;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;

    #editor-background{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: -1;
        background-position: center;
        background-size: cover;
        filter: blur(20px);
    }
}