#editor-container{
    width: 95vw;
    height: 90vh;
    background-color: steelblue;
    overflow-y: scroll;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    #sampleTitle{
        font-size: 3rem;

        margin: 2rem;
    }
}