.TitleHr{
    width: 100vw;
    color: #fff;
}

body{
    background-color: #242424;
    padding: .5vh 0;
}

.main-header{
    display: flex;
    width: 96vw;
    align-items: center;

    .main-btngroup{
        margin-left: auto;

        button{
            width: 60px;
            height: 60px;
            border-radius: 10px;
            margin: 10px;
            font-size: 1.8rem;
            color: #fff;
            cursor: pointer;
            box-shadow: inset 0 -5px 2px rgba(0,0,0,0.5);
        }
        #github-link{
            background-color: darkgray;
        }
        #hide-button{
            background-color: salmon;
        }
        #change-image{
            background-color: gold;
        }
        #screen-shot{
            background-color: steelblue;
        }
    }
}

#main-title{
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin: 1rem;
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}