.content-form-C{
    background-color: palegreen;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 750px;
    padding: 20px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 5px 0;
    outline: 1px solid rgba(0,0,0,0);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    transition: outline .5s ease-in-out;

    &:hover{
        outline: 1px solid blue;

        .button-group{
            opacity: 100%;
        }
    }

    .content-body{
        display: flex;
        flex-direction: row;
        
        .content-text{
            display: flex;
            flex-grow: 1;
            font-size: 1.25rem;
            background-color: #fff;
            padding: 5px;
            line-height: 1.5rem;
            text-align: center;
            justify-content: center;

            textarea{
                resize: none;
                border: none;
                flex-grow: 1;
                font-size: 1.25rem;
                line-height: 1.5rem;
                text-align: center;
                background-color: bisque;
            }
        }
    }

    .button-group{
        display: flex;
        position: absolute;
        top: 90%;
        left: 10%;
        justify-content: space-around;
        width: 75%;
        margin: 0 auto;
        opacity: 0%;
        transition: opacity .2s ease-in-out;
    }
}