.content-form-A{
    background-color: rgba(255,255,255,0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 750px;
    padding: 20px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 5px 0;
    outline: 1px solid rgba(0,0,0,0);
    transition: outline .5s ease-in-out;

    &:hover{
        outline: 1px solid blue;

        .button-group{
            opacity: 100%;
        }
    }

    .content-body{
        display: flex;
        flex-direction: row;

        .content-image-frame{
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 360px;
            min-height: 202px;
            background-color: #fff;
            margin-right: 20px;
            box-shadow: inset 2px 2px 2px rgba(255,255,255,0.5),2px 2px 2px rgba(0,0,0,0.5);
        }
        .content-image{
            width: 98%;
            height: 98%;
            background-size: cover;
            background-position: center center;
        }
        .content-text{
            display: flex;
            flex-grow: 1;
            font-size: 1.25rem;
            padding: 5px;
            line-height: 1.5rem;
            align-items: center;
            word-break: break-all;

            textarea{
                resize: none;
                border: none;
                flex-grow: 1;
                font-size: 1.25rem;
                line-height: 1.5rem;
                background-color: lightgray;
            }
        }
    }

    .button-group{
        display: flex;
        position: absolute;
        top: 90%;
        left: 10%;
        justify-content: space-around;
        width: 75%;
        margin: 0 auto;
        opacity: 0%;
        transition: opacity .2s ease-in-out;
    }
}