.content-form-D{
    background-color: rgba(255,255,255,0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 640px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 5px 0;
    outline: 1px solid rgba(0,0,0,0);
    transition: outline .5s ease-in-out;

    &:hover{
        outline: 1px solid blue;

        .button-group{
            opacity: 100%;
        }
    }

    .content-body{
        display: flex;
        flex-direction: row;

        .content-image{
            flex-grow: 1;
            min-width: 480px;
            min-height: 270px;
            background-color: #fff;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    .button-group{
        display: flex;
        position: absolute;
        top: 90%;
        left: 10%;
        justify-content: space-around;
        width: 75%;
        margin: 0 auto;
        opacity: 0%;
        transition: opacity .2s ease-in-out;
    }
}